/*
Design by Mucyo Fred

Released for final year project 2013
*/
body {
	margin: 0;
	padding: 0;
	
	background: #000000 url(images/img12.jpg) repeat top left;
	text-align: justify;
    color:#fff;
    font-family:tahoma;
    font-size:12px;
}
form {
	margin: 0;
	padding: 0;
}
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
input, textarea {
	padding: 5px;
	border: 1px solid #626262;
	font: normal 1em "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h1, h1 a, h2, h2 a, h3, h3 a {
	margin: 0;
	text-decoration: none;
	font-weight: normal;
	color: white;
}
h1 {
	letter-spacing: -3px;
	font-size: 2.6em;
}
h2 {
	letter-spacing: -2px;
	font-size: 2em;
}

h3 {
	margin-bottom: 2em;
	font-size: 1em;
	font-weight: bold;
}
p, ol, ul {
	margin: 0 0 2em 0;
	line-height: 200%;
}
a:hover {
	text-decoration: none;			
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 8px 20px 0px 0px;
	border: 2px solid #434343; 
}
/* Header */

#wrapper {
	background: url(images/img14.jpg) no-repeat center top;
}

#header {
	width: 900px;
	height: 128px;
	margin: 0 auto;
}
#logo h1 {
	height: 88px;
	padding: 20px 90px 0 0;
	font-size: 4em;
}

    #logo a {
        color: #fff;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
        letter-spacing: 2px;
        font: 50px 'MisoRegular';
}

/* Search */

#search {
	float: right;
	width: 240px;
	height: 60px;
	margin: 25px auto;
}

#search #x {
	display:none;
}

#search #s {
	padding: 6px 5px 5px 35px;
	width: 240px;
	height: auto;
	background-color:white;
	border: none;
	font: normal 1em Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: red;
}
/* Menu */

#menu {
	width: 950px;
	height: 60px;
	margin: 0 auto;
	background: #6AA2FD url(images/img04.gif);
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
	text-transform: uppercase;
}

#menu a {
	display: block;
	float: left;
	background: url(images/img15.gif) no-repeat right 100%;
	padding: 18px 30px 0 30px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: white;
	 text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

#menu a:hover {
	height: 60px;
	background: url(images/brown.gif) repeat-x right 30%;
	color: #000000;
}

#menu .current_page_item {
color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/* Page */

#page {
	width: 950px;
	margin: 0 auto;
	padding: 30px 0;
}

/* Ads */

#ads {
	float: right;
	width: 160px;
	padding: 0 0 0 20px;
}

/* Content */

#content {
	float: left;
	width: 430px;
}

.post {
	margin-bottom: 50px;
}

.post .title {
}

.post .title h2 {
	font-size: 2.2em;
}

.post .title p {
	margin: 0;
	line-height: normal;
	color: white;
}

.post .title p a {
	color: white;
}

.post .entry {
	padding-top: 30px;
}

.post .links {
	width: 410px;
	height: 29px;
	margin: 0;
	padding: 6px 0 0 20px;
	background: #F3F3F3 url(images/img08.gif) no-repeat;
}

.post .links a {
	padding: 0 23px;
	text-decoration: none;
	font-weight: bold;
}

.post .links a:hover {
	text-decoration: none;
}

.post .links .more {
	background: url(images/img09.gif) no-repeat;
}

.post .links .comments {
	background: url(images/img10.gif) no-repeat;
}
/* Footer */

#footer {
	clear: both;
	width: 950px;
	margin: 0 auto;
	padding: 30px 0;
	background: url(images/img11.gif) no-repeat;
}

#footer p {
	margin: 0 0 5px 0;
	text-align: center;
	line-height: normal;
	font-size: .9em;
}

#footer a {
	text-decoration: none;
}
/*#upload {
	width: 890px;
	margin: 0 auto;
	padding: 30px 0;
}
*/
/*about result*/

#box
{
padding:10px;
width:50%;
margin-left:0px auto;
} 
input 
{
background:#444;
color:#fff;
border:0px;
padding:10px;
margin:5px 0px;
}

a
{
text-decoration:none;
color:#fff;
}

#url
{
 background:#444;
 padding:10px;
 margin:5px;
 border-radius:0.4em;
 box-shadow:inset -0.0px -2px 20px rgba(29,19,27,0.6),-0.0px 0.8px 2px rgba(255,255,255,0.6) ;
 margin:8px;
 }
#url img{
 border-radius:0.5em;
 border:none;
}
/*end of result*/
/*video numbers */
#vidnum
{
padding:8px;
background-color:green;
width:30px;
height:10px;
border-radius:5px;
}

/* confirm password */

.conf
{
border:red 5px;
}
/*profile page*/
#procontent {
	float: left;
	width: 200px;
}
#pro-content {
	float: right;
	width: 550px;
	padding-right:20px;
}
/*admin profile css*/
#adminpro{
position:relative;
top:-9.4em;
left:20em;
}
#adminpro input[type="submit"]{
position:relative;
top:0.3em;
left:0.6em;
}
#adminpro select{
position:relative;
width:15em;
overflow:hidden;
}
button{
width:50px;
height:50px;
border:none;
}
.b1{
background:url(images/liketop.png) no-repeat center;
background-size:200%;
background-position:-50px;

}
.b2{
background:url(images/liketop.png) no-repeat center;
background-size:200%;
background-position:-1px;
display:none;
}
.b1:active b2{
background:url(images/likedown.png) no-repeat center;
background-size:200%;
background-position:-50px;
visibility:;
}
.b2:active{
background:url(images/likedown.png) no-repeat center;
background-size:200%;
background-position:-1px;
}
select{
width:150;
height:35;
border:solid 5px #ccc;
box-shadow: 1px 1px 2px #ccc;
font-variant:small-caps;
background:#eee;
}
option{
text-align:center;
text-shadow:2px 2px 4px #000;
background:#eee;
font-variant:small-caps;
}
* option:hover{
text-align:center;
font-size:large;
text-shadow:2px 2px 4px #000;
border:solid 1px blue ;
border-radius:5px ;
}
#sub:active{
background:#707070;
}
input[type="submit"]{cursor:pointer;border-radius:0.4em;box-shadow:0.5px 0.5px 3px #ccc,inset 0.5px 0.5px 3px #ccc;;}
input[type="submit"]:active{box-shadow:inset 1px 1px 7px #ccc;color:;font-size:14px;}

/*-------------------------------------------------------------start of Comment Place-----------------------------------------------------------------------*/
/*Comment*/
/*Comment*/
#all_comments_holder{
position:relative;
top:0px;
left:0px;
width:45em;
height:31em;
overflow:hidden;
}
#comments_holder{
position:relative;
top:0px;
left:0px;
width:40em;
height:7em;
background:#fff;
border-radius:.5em;
box-shadow:0.8px 0.9px 4px #555;
border:solid 1px rgba(20,20,20,.3);
margin:.5em;
color:black;
}
#comments_holder div{
position:relative;
top:0px;
left:0px;
width:7em;
height:3em;
background:#fda;
float:left;
border-radius:.5em;
box-shadow:0.8px 0.9px 4px #555;
border:solid 1px rgba(20,20,20,.3);
margin:.12em;
color:black;
}
#comments_holder  #pic_comment{
position:relative;
top:0px;
left:0px;
width:7em;
height:6.6em;
border-radius:.5em;
box-shadow:0.8px 0.9px 4px #555;
border:solid 1px rgba(20,20,20,.3);
}
#comments_holder #poster_name{
position:relative;
top:0px;
left:0px;
width:18em;
height:2em;
border-radius:.5em;
box-shadow:0.8px 0.9px 4px #555;
border:solid 1px rgba(20,20,20,.3);
padding-left:2em;
}
#comments_holder #date_comment{
position:relative;
top:0px;
left:0px;
width:13em;
height:2em;
border-radius:.5em;
box-shadow:0.8px 0.9px 4px #555;
border:solid 1px rgba(20,20,20,.3);
padding-left:.4em;
font-size:x-small;
}
#comments_holder #comment_box{
position:relative;
bottom:0px;
left:0px;
width:28em;
height:4em;
border-radius:.5em;
box-shadow:0.8px 0.9px 4px #555;
border:solid 1px rgba(20,20,20,.3);
padding-left:2em;
padding-top:0.3em;
}
/*-----------------------------------------------------------------admin Profile----------------------------------------------------------------------------*/
#adminprofile{
position:relative;
left:0em;
width:20em;
height:10em;
}
#adminprofile a{
position:relative;
height:5em;
background:#444;
margin:2px;
line-height:1.9em;
text-shadow:1px 1px 1px #555;
font-size:16px;
padding:3.5px;
padding-top:0px;
border-radius:.3em;
text-decoration:none;
box-shadow:0px 0px 3px #888,inset 0px 0px 3px #888;
color:#999;
}
#adminprofile img{
border-radius:0.4em;
box-shadow:inset 1px 1px 1px #255,0.3px 0.3px 8px #777;
position:relative;
top:-1em;
transition:1s;
cursor:pointer;
}
#adminprofile img:hover{
transition:1s;
transform:scale(1.12);
-moz-transform:scale(1.12);
-webkit-transform:scale(1.12);
}
#changepass{
position:relative;
top:0em;
left:;
}
#changepass td{
font-size:12px;
font-variant:small-caps;

}
#msgbox{
position:relative;
top:1em;
left:0em;
background:#342345;
width:auto;
text-shadow:0.6px 1px 2px #111;
font-size:16px;
padding-left:6px;
padding-top:-4px;
border-radius:0.3em;
}
/*-----------------------------------------------------------------Profile----------------------------------------------------------------------------------*/
#formforprofile {
width:25em;
}
#pro_img img{
border-radius:0.2em;
}
#pro_img img:hover{
transform:scale(1.2);
-moz-transform:scale(1.2);
-webkit-transform:scale(1.2);
}
#formforprofile label{
position:relative;
left:0.6em;
top:0.4em;
font-size:large;
background:#777;
padding:0.3em;
border-radius:0.1em;
line-height:2em;
min-height:90em;
text-align:center;
color:darkwhite;
text-shadow:1px 1px 4px #000;
box-shadow:inset 1px 1px 9px #000;
}
#formforprofile label img{
position:relative;
left:0.3em;
}